
/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/

body {
	margin: 0;
	padding: 0;
	background: #FFFFFF url(images/img01.png) repeat-x left top;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #8A8A8A;
}

h1, h2, h3 {
	margin: 0;
	font-weight: normal;
	color: #618C04;
}

h1 { font-size: 33px; }

h2 { font-size: 14px; }

h3 { }

p, ul, ol {
	margin-top: 0;
	line-height: 200%;
	text-align: justify;
}

ul, ol { }

blockquote { }

a { color: #77B003; }

a:hover { text-decoration: none; }

a img {
	border: none;
}

img.left {
	float: left;
	margin: 5px 30px 0 0;
}

img.right {
	float: right;
	margin: 5px 0 0 23px;
}

hr { display: none; }

.list1 {
}

.list1 li {
	float: left;
	line-height: normal;
}

.list1 li img {
	margin: 0 23px 23px 0;
}

.list1 li.alt img {
	margin-right: 0;
}

#wrapper {
}

/* Header */

#header-wrapper {
}

#header {
	width: 640px;
	height: 30px;
	margin: 0 auto;
}

/* Menu */

#menu {
	float: left;
	width: 380px;
	height: 32px;
	background: url(images/img02.jpg) no-repeat left top;
}

#menu ul {
	margin: 0;
	padding: 0px 0px 0px 0px;
	list-style: none;
	line-height: normal;
}

#menu li {
	display: block;
	float: left;
}

#menu a {
	display: block;
	float: left;
	height: 30px;
	margin: 0;
	padding: 10px 23px 0px 23px;
	background: url(images/img02.png) no-repeat left top;
	text-decoration: none;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: bold;
	color: #FFFFFF;
}

#menu a:hover { 
	text-decoration: none; 
}

#menu .current_page_item a {
}

#menu .first {
}
/* Page */

#page {
	width: 940px;
	margin: 0 auto;
	padding: 70px 0px 0px 0px;
}


/** LOGO */

#logo {
	width: 940px;
	height: 92px;
	margin: 0 auto;
}

#logo h1, #logo p {
	margin: 0px;
	line-height: normal;
	font-weight: normal;
	color: #618C04;
}

#logo p {
	margin-top: -4px;
	font-size: 13px;
	color: #A8A8A8;
}

#logo h1 {
	padding-top: 10px;
	font-size: 48px;
}

#logo a {
	text-decoration: none;
	color: #A8A8A8;
}

#logo h1 a {
	text-decoration: none;
	color: #618C04;
}


#banner {
	padding-bottom: 5px;
}

/* Content */

#content {
	float: right;
	width: 300px;
}

/* Post */

.post {
	margin-bottom: 34px;
}

.post .title {
	height: 13px;
	padding-left: 11px;
}

.post .title a {
	text-decoration: none;
	font-size: 23px;
	color: #618C04;
}

.post .date {
}

.post .meta {
	margin-top: -8px;
	margin-left: 2px;
	padding: 0px 23px 2px 11px;
	border-bottom: 1px solid #D4D8CB;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 7px;
	color: #66665E;
}

.post .meta span {
	display: block;
	margin-top: -10px;
}

.post .meta a { }

.post .entry {
	margin-bottom: 10px;
	padding: 7px 11px 7px 11px;
}

.post .links {
	display: block;
	width: 90px;
	height: 15px;
	margin: 0px 0px 0px 0px; 
	padding: 3px 0px 0px 10px;
	background: url(images/img03.png) no-repeat left top;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8px;
	text-decoration: none;
	font-weight: bold;
	color: #666666;
}

.post .comments {
	display: block;
	width: 120px;
	height: 18px;
	margin: 0px; 
	padding: 3px 0px 0px 10px;
	background: url(images/img07.gif) no-repeat left top;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: none;
	font-weight: bold;
	color: #961A06;
}

/* Sidebar */

#sidebar {
	float: left;
	width: 200px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
}

#sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
	line-height: normal;
}

#sidebar li {
	margin-bottom: 30px;
	padding: 0 0 10px 0px;
}

#sidebar li ul {
	margin: 0px 14px;
}

#sidebar li li {
	margin: 0;
	padding: 9px 0px;
	border-bottom: 1px solid #E9E8DD;
	background: url(images/img08.gif) no-repeat left 14px;
}

#sidebar li li a {
	padding: 0px 0px 0px 15px;
	font-weight: normal;
	color: #808080;
}

#sidebar li li a:hover {
	color: #77B003;
}

#sidebar p {
	margin: 0;
	padding: 0px 10px;
}

#sidebar h2 {
	height: 30px;
	margin: 0 0 10px 0px;
	padding: 6px 0 2px 10px;
	background: url(images/img05.gif) repeat-x left top;
	font-size: 13px;
	font-weight: normal;
	color: #618C04;
}


#sidebar p {
	line-height: 200%;
}

#sidebar a {
	text-align: left;
	text-decoration: none;
	font-weight: bold;
}

/* Footer */

#footer {
	width: 100%;
	height: 100px;
	margin: 0 auto;
	padding: 0;
	background: #E1E1E1;
}

#footer-bgcontent {
}

#footer p {
	margin: 0;
	padding: 30px 0px 0px 0px;
	text-align: center;
	line-height: normal;
	font-size: 10px;
}

#footer a {
}
