<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net" />
  </configSections>

  <system.diagnostics>
    <sharedListeners>
      <add name="tracingListener" type="Naro.Infrastructure.Library.Logging.Log4NetTracer,Infrastructure.Library"></add>
    </sharedListeners>
    <sources>
      <source name="Microsoft.Practices.ObjectBuilder" switchName="Switch1">
        <listeners>
          <!-- prevent DefaultTraceListener from being added -->
          <clear />
          <add name="tracingListener" />
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="Switch1" value="Information" />
    </switches>
  </system.diagnostics>

  <log4net>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="${APPDATA}/NaroCAD/log/log.txt" />
      <param name="AppendToFile" value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%-5p%d{yyyy-MM-dd hh:mm:ss} - %m%n" />
      </layout>
    </appender>
    <root>
      <level value="INFO" />
      <appender-ref ref="LogFileAppender" />
    </root>
  </log4net>
</configuration>